header {
  text-align: center;
  background: url("ColorCurves.jpg");
  background-size: 100% 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
body {
	background: rgba(50,50,50,1);
	font-family: 'Raleway', sans-serif;
  
}
a {
  color: white;
}
h1 {
  font-size: 70px;
  margin: 0px 0px 100px 0px;
  padding-top: 100px;
}
h2{
font-size: 26px;
color: #e23365;
font-weight: 700;
}
h3{
font-size: 18px;
color: #1dde65;
font-weight: 600;
}
p{
font-size: 14px;
color: white;
font-weight: 400; 
}
img.me {
  float: left;
  width: 10%;
  margin-left: 75px;
  margin-right: -300px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow:10px 10px black;
}
img {
  width: 35%;
  float: left;
  margin: 10px 10px 10px 10px;
  border: 2px solid black;
}
img.rightfloat {
	float: right;
}
ul {
  padding: 10px;
  background: rgba(50,50,50,0.25);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 25px;
}
div {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  background-color: black;
  color: #e23365;
}

@media (max-width: 500px) {
  h1 {
	font-size: 36px;
	padding: 5px;
  }
  li {
	padding: 5px;
	display: block;
  }
}
